@{
    ViewBag.Title = "About";
}

<div class="row justify-content-center" style="margin-top:10px;">
    <div class="col-6">
        <div class="card">
            <h1 class="card-header">About</h1>
            <img class="card-img" src="https://orig00.deviantart.net/7f5c/f/2011/282/0/c/choose_goose_atc_by_supertuffpinkpuff-d4cban8.png" style="height:400px;"/>
            <div class="card-body">
                <p class="card-text">Choose Goose has been an avid musician from an early age and recently fulfilled his long held dream of opening an online instrument rental business.</p>
            </div>
        </div>
    </div>
</div>
