@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotronImage">
    <h1 style="color:azure; padding-top:175px;">Welcome to Blow out!</h1>
    <p style="color:azure">We blow our competitors out of the water</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Welcome!</h2>
        <p>
            Feel free to browse and rent instruments!
        </p>
    </div>
</div>

<div class="row buffer justify-content-center">
    <div class="card">
        <div class="card-body">
            <p class="card-text">"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.</p>
            <div class="row"><div class="col-9"></div><p class="card-text">-Johann Sebastian Bach</p></div>
        </div>
    </div>
</div>