@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotronImage">
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Welcome!</h2>
        <p>
            Feel free to browse, find out about pricing information, and rent instruments!
        </p>
    </div>
</div>

<div class="row buffer">
    <div class="card">
        <div class="card-body">
            <p class="card-text">"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.</p>
            <div class="row"><div class="col-9"></div><p class="card-text">-Johann Sebastian Bach</p></div>
        </div>
    </div>
</div>