@model Blow_Out.Models.Instrument

<div class="row justify-content-center" style="margin-top:10px;">
    <div class="col-8">
        <div class="card">
            <div class="row justify-content-center">
                <h1 class="card-header">@Model.Description</h1>
            </div>
            <img class="card-img" src="@Model.Image" style="height:200px;" />
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Condition:</strong> @Model.Type</li>
                <li class="list-group-item"><strong>Cost/Month:</strong> $@Model.Price</li>
                <li class="list-group-item"><strong>Total After 18 months:</strong> $@(Model.Price * 18)</li>
            </ul>
            <div class="card-body">
                <div class="row justify-content-center">
                        <a type="button" href="@Url.Action("RentInstrument", "Home", new { instrumentID = Model.InstrumentID })" class="btn btn-primary btn-lg">Rent</a>
                </div>
            </div>
        </div>
    </div>
</div>
